<!DOCTYPE html>
<html lang="ko" , xmlns:th="https://www.thymeleaf.org/">
<meta charset='UTF-8'>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
	integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
	crossorigin="anonymous">
    <title>게시글 작성</title>
    <style>

        h2 {
            text-align: center;
        }
        </style>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script type="text/javascript">
            
        </script>
<body>
    <article>
		<div class="container" role="main">
			<h2>게시글 작성</h2>
			<form th:action="@{/insertPost}" method="POST">
				<div class="mb-3">					
					<label for="subject">제목</label> 
					<input type="text" class="form-control" name="subject" id="subject"	placeholder="제목을 입력하세요">
				</div>
				<div class="mb-3">
					<label for="bordNo">게시판 선택</label> 
					<select name="bordNo" id="bordNo" onchange="OnChange();">
						<div th:each="board : ${boardList}">
                            <span th:if="${board.key}==${defaultListNo}">
                                <option value="${board.key}" selected="${defaultListNo}"><span th:text="${board.value}"></span></option>
                            </span>
                            <span th:unless="${board.key}==${defaultListNo}">
                                <option value="${board.key}"><span th:text="${board.value}"></span></option>
                            </span>
                        </div>
					</select>
				</div>
								
				<div class="mb-3">
					별점등록<br>
					<label for="rate_loc">위치</label> 
					<select name="rate_loc">
						<div th:each="i : ${#numbers.sequence(1,5)}">
                            <option value="${i}"><span th:text="${i}"></span></option>
                        </div>
					</select>
					<label for="rate_clean">위생</label> 
					<select name="rate_clean">
						<div th:each="i : ${#numbers.sequence(1,5)}">
                            <option value="${i}"><span th:text="${i}"></span></option>
                        </div>
					</select>
					<label for="rate_comu">의사소통</label> 
					<select name="rate_comu">
						<div th:each="i : ${#numbers.sequence(1,5)}">
                            <option value="${i}"><span th:text="${i}"></span></option>
                        </div>
					</select>
					<label for="rate_chip">가성비</label> 
					<select name="rate_chip">
						<div th:each="i : ${#numbers.sequence(1,5)}">
                            <option value="${i}"><span th:text="${i}"></span></option>
                        </div>
					</select>
				</div>
				<div class="mb-3">					
					<label for="visitDate">방문 날짜를 선택하세요</label> 
					<input type="date" name="visitDate" id = "visitDate" value="2021-10-25" />
				</div>				
				<div class="mb-3">					
					<label for="re_push_pl">주변 맛집과 관광지를 추천해주세요</label> 
					<input type="text" class="form-control" name="re_push_pl" id="re_push_pl">
				</div>
				<div class="mb-3">					
					<label for="re_push_npl">이런분들께는 비추에요</label> 
					<input type="text" class="form-control" name="re_push_npl" id="re_push_npl">
				</div>
				</div>
				
				<div class="mb-3">
					<label for="content">내용</label> 
					<textarea class="form-control" rows="5" name="content" id="content" placeholder="내용을 입력해 주세요"></textarea>
				</div>
				<div class="mb-3">
					<label for="tag">태그</label> 
					<input type="text" class="form-control" name="tag" id="tag" placeholder="#태그입력">
				</div>
				<div>
					<button type="submit" class="btn btn-sm btn-primary" id="saveBtn">글등록</button>
				</div>
			</form>
		</div>
	</article>
</body>

</html>