<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="MemberDao">

	<resultMap type="MemberVo" id="MemberResultMap">
		<result property="memNo" javaType="int" column="mb_no" jdbcType="INTEGER" />
		<result property="id" javaType="string" column="mb_id" jdbcType="VARCHAR" />
		<result property="pwd" javaType="string" column="mb_pwd" jdbcType="VARCHAR" />
		<result property="name" javaType="string" column="mb_name" jdbcType="VARCHAR" />
		<result property="nick" javaType="string" column="mb_nick" jdbcType="VARCHAR" />
		<result property="gender" javaType="string" column="mb_gender" jdbcType="CHAR" />
		<result property="hp" javaType="string" column="mb_hp" jdbcType="VARCHAR" />
		<result property="birth" javaType="string" column="mb_birth" jdbcType="DATE" />
		<result property="joinDate" javaType="string" column="mb_datetime" jdbcType="DATE" />
		<result property="state" javaType="string" column="mb_state" jdbcType="CHAR" />
		<result property="boardCount" javaType="int" column="mb_board" jdbcType="INTEGER" />
		<result property="commentCount" javaType="int" column="mb_comment" jdbcType="INTEGER" />
		<result property="visitCount" javaType="int" column="mb_visit" jdbcType="INTEGER" />
		<result property="grade" javaType="int" column="mb_grade" jdbcType="INTEGER" />
	</resultMap>
	
	<parameterMap type="MemberVo" id="MemberParamerterMap">
		<parameter property="memNo" javaType="int" jdbcType="INTEGER" />
		<parameter property="id" javaType="string" jdbcType="VARCHAR" />
		<parameter property="pwd" javaType="string" jdbcType="VARCHAR" />
		<parameter property="name" javaType="string" jdbcType="VARCHAR" />
		<parameter property="nick" javaType="string" jdbcType="VARCHAR" />
		<parameter property="gender" javaType="string" jdbcType="CHAR" />
		<parameter property="hp" javaType="string" jdbcType="VARCHAR" />
		<parameter property="birth" javaType="string" jdbcType="DATE" />
		<parameter property="joinDate" javaType="string" jdbcType="DATE" />
		<parameter property="state" javaType="string" jdbcType="CHAR" />
		<parameter property="boardCount" javaType="int" jdbcType="INTEGER" />
		<parameter property="commentCount" javaType="int" jdbcType="INTEGER" />
		<parameter property="visitCount" javaType="int" jdbcType="INTEGER" />
		<parameter property="grade" javaType="int" jdbcType="INTEGER" />
	</parameterMap>

	<select id="Selectlogin" parameterMap="MemberParamerterMap" resultMap="MemberResultMap">
		(select NULL AS mb_no, NULL AS mb_id, NULL AS mb_nick, NULL AS mb_grade, NULL AS mb_state 
		FROM member
		WHERE NOT EXISTS( 
		select mb_no, mb_id, mb_nick, mb_grade, mb_state 
		from member 
		where mb_id = #{id} and mb_pwd = #{pwd}))
		UNION
		(select mb_no, mb_id, mb_nick, mb_grade, mb_state 
		from member 
		where mb_id = #{id} and mb_pwd = #{pwd})
	</select>
	
	<select id="SelectNBMemberList" parameterMap="MemberParamerterMap" resultMap="MemberResultMap">
		SELECT mb_id, mb_nick, mb_datetime
		FROM member
		WHERE mb_name = #{name} AND mb_birth = #{birth}
	</select>
	
	<insert id="InsertMember" parameterMap="MemberParamerterMap">
		INSERT INTO member (mb_id, mb_nick, mb_name, mb_pwd, mb_gender, mb_hp, mb_birth, mb_datetime) 
		VALUES (#{id}, #{nick}, #{name}, #{pwd}, #{gender}, #{hp}, #{birth}, DATE_FORMAT(now(), '%Y/%m/%d %H:%i:%s'))
	</insert>
	
	<select id="selectIdCheck" parameterMap="MemberParamerterMap" resultType="string">
		select IFNULL(MAX(mb_id),NULL) AS mb_id from member 
		where mb_id = #{id}
	</select>
	
	<select id="selectNickCheck" parameterMap="MemberParamerterMap" resultType="string">
		select IFNULL(MAX(mb_nick),NULL) AS mb_nick from member 
		where mb_nick = #{nick}
	</select>
	
	<update id="UpdatePwMember" parameterMap="MemberParamerterMap">
		UPDATE member SET mb_pwd = #{pwd} 
		WHERE mb_id = #{id}
	</update>
	
	<select id="SelectWithDraw" parameterType="string" resultType="string">
		SELECT IFNULL(MAX(mb_state),NULL) AS mb_state
		FROM member
		WHERE mb_id = #{id}
	</select>
	
	
	
	<resultMap id="MemberVoResult" type="MemberVo">
		<result property="memNo" column="mb_no" />
		<result property="id" column="mb_id" />
		<result property="pwd" column="mb_pwd" />
		<result property="name" column="mb_name" />
		<result property="nick" column="mb_nick" />
		<result property="gender" column="mb_gender" />
		<result property="hp" column="mb_hp" />
		<result property="birth" column="mb_birth" />
		<result property="joinDate" column="mb_datetime" />
		<result property="state" column="mb_state" />
		<result property="boardCount" column="mb_board" />
		<result property="commentCount" column="mb_comment" />
		<result property="visitCount" column="mb_visit" />
		<result property="grade" column="mb_grade" />
	</resultMap>

	<!-- 회원 상세조회 -->
	<select id="selectMember" parameterType="int"
		resultType="MemberVo" resultMap="MemberVoResult">
		select mb_no, mb_id, mb_nick, mb_name,
		mb_pwd, mb_gender, mb_hp, mb_birth, mb_grade, mb_state
		from member where mb_no = #{memNo}
	</select>

	<!-- 활동중인 회원 목록을 조회한다 -->
	<select id="selectMemberList" parameterType="MemberVo"
		resultMap="MemberVoResult">
		SELECT mb_no ,mb_id, mb_nick, mb_grade, mb_datetime, mb_visit,
		mb_board, mb_comment, mb_gender
		FROM member
		where mb_state = 1
		<if
			test='searchKeyword !=null  and searchType.equalsIgnoreCase("name")'>
			and mb_name = #{searchKeyword}
		</if>
		<if
			test='searchKeyword !=null  and searchType.equalsIgnoreCase("nick")'>
			and mb_nick = #{searchKeyword}
		</if>
		<if
			test='searchKeyword !=null  and searchType.equalsIgnoreCase("id")'>
			and mb_id = #{searchKeyword}
		</if>
		ORDER BY mb_no desc, mb_datetime desc
		LIMIT
		#{paginationInfo.firstRecordIndex}, #{recordsPerPage}
	</select>

	<!-- 활동중인 회원명 수를 조회한다 -->
	<select id="selectMemberTotalCount" parameterType="MemberVo"
		resultType="int">
		SELECT
		COUNT(*)
		FROM
		member
		where mb_state = 1
		<if
			test='searchKeyword !=null  and searchType.equalsIgnoreCase("name")'>
			and mb_name = #{searchKeyword}
		</if>
		<if
			test='searchKeyword !=null  and searchType.equalsIgnoreCase("nick")'>
			and mb_nick = #{searchKeyword}
		</if>
		<if
			test='searchKeyword !=null  and searchType.equalsIgnoreCase("id")'>
			and mb_id = #{searchKeyword}
		</if>
	</select>

	<!-- 회원 등록 -->
	<parameterMap type="MemberVo" id="insertMemberParameter">
		<parameter property="id" javaType="string"
			jdbcType="VARCHAR" mode="IN" />
		<parameter property="pwd" javaType="string"
			jdbcType="VARCHAR" mode="IN" />
		<parameter property="name" javaType="string"
			jdbcType="VARCHAR" mode="IN" />
		<parameter property="nick" javaType="string"
			jdbcType="VARCHAR" mode="IN" />
		<parameter property="gender" javaType="string"
			jdbcType="VARCHAR" mode="IN" />
		<parameter property="hp" javaType="string"
			jdbcType="VARCHAR" mode="IN" />
		<parameter property="birth" javaType="string"
			jdbcType="VARCHAR" mode="IN" />
	</parameterMap>
	<insert id="insertMember" parameterType="MemberVo"
		parameterMap="insertMemberParameter">
		INSERT INTO member (mb_id, mb_nick, mb_name, mb_pwd,
		mb_gender, mb_hp, mb_birth, mb_datetime)
		VALUES (#{id}, #{pwd},
		#{name}, #{nick}, #{gender}, #{hp}, #{birth},
		DATE_FORMAT(now(),'%Y/%m/%d %H:%i:%s'))
	</insert>

	<!-- 회원 정보 변경 -->
	<parameterMap type="MemberVo" id="updateMemberParameter">
		<parameter property="pwd" javaType="string"
			jdbcType="VARCHAR" mode="IN" />
		<parameter property="name" javaType="string"
			jdbcType="VARCHAR" mode="IN" />
		<parameter property="nick" javaType="string"
			jdbcType="VARCHAR" mode="IN" />
		<parameter property="gender" javaType="string"
			jdbcType="VARCHAR" mode="IN" />
		<parameter property="hp" javaType="string"
			jdbcType="VARCHAR" mode="IN" />
		<parameter property="birth" javaType="string"
			jdbcType="VARCHAR" mode="IN" />
		<parameter property="memNo" javaType="int"
			jdbcType="INTEGER" mode="IN" />
		<parameter property="grade" javaType="int"
			jdbcType="INTEGER" mode="IN" />
		<parameter property="state" javaType="string"
			jdbcType="VARCHAR" mode="IN" />
	</parameterMap>
	<insert id="updateMember" parameterType="MemberVo"
		parameterMap="updateMemberParameter">
		UPDATE member SET
		<if test="pwd != null and pwd != ''">
			mb_pwd = #{pwd},
		</if>
		mb_name = #{name}, mb_nick = #{nick}, mb_gender = #{gender}, mb_hp =
		#{hp}, mb_birth = #{birth}, mb_grade = #{grade}, mb_state = #{state}
		WHERE mb_no = #{memNo}
	</insert>

	<!-- 회원 등급 변경 -->
	<parameterMap type="MemberVo"
		id="updateMemberGradeParameter">
		<parameter property="grade" javaType="int"
			jdbcType="INTEGER" mode="IN" />
		<parameter property="memNo" javaType="int"
			jdbcType="INTEGER" mode="IN" />
	</parameterMap>
	<update id="updateMemberGrade"
		parameterMap="updateMemberGradeParameter">
		UPDATE member SET mb_grade = ? WHERE mb_no = ?;
	</update>

	<!-- 회원 상태 변경 -->
	<parameterMap type="MemberVo"
		id="updateMemberStateParameter">
		<parameter property="state" javaType="string"
			jdbcType="VARCHAR" mode="IN" />
		<parameter property="memNo" javaType="int"
			jdbcType="INTEGER" mode="IN" />
	</parameterMap>
	<update id="updateMemberState"
		parameterMap="updateMemberStateParameter">
		UPDATE member SET mb_state = ? WHERE mb_no = ?;
	</update>
	
</mapper>